<h1 class="my-5 display-3 thick-underline blue-underline"><%= @cocktail.name %></h1>
<div class="row">
  <div class="col-12 col-lg-8">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, class: "mb-3 rounded cocktail-img", crop: :fill, :gravity=>"north", :height=>400, :quality=>85, :width=>600, :crop=>"pad" %>
    <% else %>
      <%= image_tag "cocktail.jpg", alt: "A cocktail", class: "mb-3 rounded cocktail-img" %>
    <% end %>
  </div>
  <div class="col-12 col-lg-4">
    <ul class="mb-3 list-group">
      <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item cocktail-dose">
        <%= dose.description %> 
        <%= dose.ingredient.name %> 
        <%= link_to icon("fas", "trash-alt"), cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %> </li>  
      <% end %>
    </ul>
    <h3 class="thick-underline blue-underline">
      Add a dose
    </h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
      <%= f.input :description, placeholder: "e.g. 25ml" %>
      <%= f.submit "Add dose", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
