<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="noisy-background"></div>
    <nav class="navbar fixed-top bg-primary">
      <%= link_to content_tag(:h3, "Hard Shake", class: "thick-underline yellow-underline"), cocktails_path, class: "navbar-brand text-secondary" %>
      <div>
        <%= link_to icon("fas", "dice"), cocktails_random_path, class: "btn btn-secondary" %>
        <%= link_to "Add Recipe", new_cocktail_path, class: "btn btn-secondary" %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
